{
    "componentData": {
        "AudioSource": {
            "group_name": "",
            "is3D": true,
            "looping": false,
            "maxDistance": 50.0,
            "minDistance": 1.0,
            "pitchDb": 0.0,
            "playOnStart": false,
            "pos": [
                0.0,
                0.0,
                0.0
            ],
            "selected_audio": "8c81ab4c-86c2-1248-8092-30c6e99421a5",
            "volumeDb": 0.0
        },
        "BoundingVolume": {
            "bvhNodeIndex": 99,
            "localAABB": {
                "max": [
                    11.664676666259766,
                    8.72545051574707,
                    11.37221908569336
                ],
                "min": [
                    -11.664676666259766,
                    0.0,
                    -11.37221908569336
                ]
            },
            "needsUpdate": false,
            "worldAABB": {
                "max": [
                    1.4679933786392212,
                    0.02931751310825348,
                    0.48989394307136536
                ],
                "min": [
                    1.3869751691818237,
                    -2.99552056048924e-07,
                    0.41077083349227905
                ]
            }
        },
        "GUID": {
            "guid": "1c882eab-7a77-d645-bcb7-9076c3f8312c"
        },
        "Hierarchy": {
            "childrenGUIDs": [],
            "parentGUID": "00000000-0000-0000-0000-000000000000",
            "siblingIndex": 0
        },
        "Layer": {
            "layer_id": 0,
            "layer_mask": 1
        },
        "LocalTransform": {
            "position": [
                1.4274842739105225,
                -1.4994293451309204e-07,
                0.4503323435783386
            ],
            "rotation": [
                1.4890728152749944e-06,
                0.01753591187298298,
                4.385423437724967e-07,
                0.9998462796211243
            ],
            "scale": [
                0.0033599999733269215,
                0.0033599999733269215,
                0.0033599999733269215
            ]
        },
        "ModelRenderer": {
            "castShadows": true,
            "materials": [
                {
                    "albedoTextureOverride": "00000000-0000-0000-0000-000000000000",
                    "aoTextureOverride": "a8977689-ded0-fa41-9efb-33354e83dec7",
                    "baseColorOverride": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "emissiveOverride": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "emissiveTextureOverride": "00000000-0000-0000-0000-000000000000",
                    "heightTextureOverride": "00000000-0000-0000-0000-000000000000",
                    "materialGUID": "3da3f0aa-e9d3-634a-b1c9-f88763fb5bae",
                    "metallicOverride": 1.0,
                    "metallicTextureOverride": "a8977689-ded0-fa41-9efb-33354e83dec7",
                    "normalTextureOverride": "00000000-0000-0000-0000-000000000000",
                    "opacityTextureOverride": "00000000-0000-0000-0000-000000000000",
                    "roughnessOverride": 1.0,
                    "roughnessTextureOverride": "a8977689-ded0-fa41-9efb-33354e83dec7",
                    "useOverrides": false
                }
            ],
            "modelGUID": "d9977322-f31e-bc4c-b298-fbcd6690c4ba",
            "receiveShadows": true,
            "visible": true
        },
        "Name": {
            "name": "Gear"
        },
        "PrefabInstance": {
            "componentOverrides": {
                "AudioSource": {
                    "group_name": "",
                    "is3D": true,
                    "looping": false,
                    "maxDistance": 50.0,
                    "minDistance": 1.0,
                    "pitchDb": 0.0,
                    "playOnStart": false,
                    "pos": [
                        0.0,
                        0.0,
                        0.0
                    ],
                    "selected_audio": "8c81ab4c-86c2-1248-8092-30c6e99421a5",
                    "volumeDb": 0.0
                },
                "BoundingVolume": {
                    "bvhNodeIndex": 99,
                    "localAABB": {
                        "max": [
                            11.664676666259766,
                            8.72545051574707,
                            11.37221908569336
                        ],
                        "min": [
                            -11.664676666259766,
                            0.0,
                            -11.37221908569336
                        ]
                    },
                    "needsUpdate": false,
                    "worldAABB": {
                        "max": [
                            1.4306206703186035,
                            0.029317572712898254,
                            0.5045880675315857
                        ],
                        "min": [
                            1.3518561124801636,
                            -6.023207106409245e-07,
                            0.42777881026268005
                        ]
                    }
                },
                "LocalTransform": {
                    "position": [
                        1.3912384510040283,
                        -3.3155083656311035e-07,
                        0.4661831557750702
                    ],
                    "rotation": [
                        4.6912114157748874e-06,
                        -0.002478810725733638,
                        7.05060301697813e-07,
                        0.9999969601631165
                    ],
                    "scale": [
                        0.0033599999733269215,
                        0.0033599999733269215,
                        0.0033599999733269215
                    ]
                },
                "RigidBody3D": {
                    "angular_velocity": [
                        0.0,
                        0.0,
                        0.0
                    ],
                    "collider_offset": [
                        0.0,
                        4.5,
                        0.0
                    ],
                    "collider_scale": [
                        20.0,
                        9.0,
                        20.0
                    ],
                    "mass": -107374176.0,
                    "motion_type": 0,
                    "physics_behavior": {
                        "behavior": 1
                    },
                    "velocity": [
                        0.0,
                        0.0,
                        0.0
                    ]
                },
                "Tag": {
                    "tags": [
                        "letter_collectible"
                    ]
                }
            },
            "correspondingPrefabEntityGUID": "d72d233b-43b7-814c-a9a6-9df6a281c8c5",
            "instanceRootGUID": "495057ee-7b10-a843-88e1-da17d910f378",
            "sourcePrefabGUID": "3e1bed01-56de-1b43-9134-1ae7de7f7226"
        },
        "RigidBody3D": {
            "angular_velocity": [
                0.0,
                0.0,
                0.0
            ],
            "collider_offset": [
                0.0,
                4.5,
                0.0
            ],
            "collider_scale": [
                20.0,
                9.0,
                20.0
            ],
            "mass": -107374176.0,
            "motion_type": 0,
            "physics_behavior": {
                "behavior": 1
            },
            "velocity": [
                0.0,
                0.0,
                0.0
            ]
        },
        "Tag": {
            "tags": [
                "letter_collectible"
            ]
        }
    },
    "guid": "11226360-48f3-7f42-8648-102789aa37e9",
    "tags": [],
    "templateName": "Gear"
}