{
    "componentData": {
        "GUID": {
            "guid": "5fbeceb1-04fd-ed4a-acbd-4a2ec885404e"
        },
        "Hierarchy": {
            "childrenGUIDs": [],
            "parentGUID": "00000000-0000-0000-0000-000000000000",
            "siblingIndex": 0
        },
        "Layer": {
            "layer_id": 1,
            "layer_mask": 2
        },
        "LocalTransform": {
            "position": [
                0.0,
                0.0,
                0.0
            ],
            "rotation": [
                0.0,
                0.0,
                0.0,
                1.0
            ],
            "scale": [
                1.0,
                1.0,
                1.0
            ]
        },
        "Name": {
            "name": "Heart"
        },
        "Texture2D": {
            "texture_guid": "267e2fdd-0899-7248-809a-45a66a46f023",
            "texture_scale": 0.10000000149011612
        },
        "UIElement": {
            "b_is_enabled": true,
            "b_is_interactable": true,
            "layer": 0
        },
        "UIRectTransform": {
            "anchor_max": [
                1.0,
                1.0
            ],
            "anchor_min": [
                0.0,
                0.0
            ],
            "anchored_position": [
                0.0,
                0.0
            ],
            "local_position": [
                0.0,
                0.0,
                0.0
            ],
            "offset_max": [
                0.0,
                0.0
            ],
            "offset_min": [
                0.0,
                0.0
            ],
            "pivot": [
                0.5,
                0.5
            ],
            "rotation": [
                0.0,
                0.0,
                0.0,
                0.0
            ],
            "scale": [
                1.0,
                1.0,
                1.0
            ],
            "size_delta": [
                100.0,
                100.0
            ]
        }
    },
    "guid": "0d9d64a5-f92c-d649-8b5c-d88762ef7fb4",
    "tags": [],
    "templateName": "Heart"
}